article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

$civicYellow:#C8B6A7;
$civicBeige:#FDFDFD;
$civicLightGreen: #3A506B;
$headerOverlay: rgba(23,31,42,0.6);
$whiteOverlay: rgba(255,255,255,0.6);
$civicLightLightGreen:#B2DFDB;
$civicBeige:#E8E3E0;
$civicBeigeOverlay:rgba(91,89,88,0.5);
$sans: 'Raleway', sans-serif;
$serif:'Playfair Display', serif;
// colour variables go here

html {
	font-size:62.5%;
	font-family:$sans;
}

body {
	background:$civicBeige;
}

p {
	font-size:1.4rem;
}

a {
	text-decoration:none;
}

img {
	max-width:100%;
}

.wrapper {
	max-width:1500px;
	background-image:url(../assets/canadaOutlineBeige.svg);
	background-size:100%;
	background-repeat: no-repeat;
	margin:0 auto;
	position:relative;
	z-index:1;
}

//header styles

header {
	background-image:url(../assets/mountains.jpeg);
	background-size: cover;
	height:100vh;
}

.overlay {
	background-color:$headerOverlay;
	height:100vh;
}

.fact-item {
	display:none;
	font-size:4rem;
	font-weight:bold;
	color:$civicBeige;
}

.hamburger {
	display:none;
	color:white;
	font-size:30px;
}

nav {
	display:flex;
	background:$civicLightGreen;
	align-items:center;
	h2 {
		color:white;
		text-transform:uppercase;
		letter-spacing: 2px;
		font-size:2rem;
		margin:10px 15px;
	}
	div.smallcanada, .menu {
		display:flex;
		width:50%;
		margin:0;
		padding:2px;
		img {
			width:40px;
			height:40px;
		}
	}
	.menu {
		justify-content:flex-end;
		a {
			color:white;
		}
		a:hover {
			color:$civicYellow;
		}
	}
}

.hamburger-container {
	display:none;
	position:absolute;
	width:100%;
	background:$civicLightGreen;
	margin-top:0;
	padding:10px;
	z-index:5;
	h2 {
		color:white;
		text-transform:uppercase;
		text-align:right;
		letter-spacing:2px;
		font-size:2rem;
		a {
			color:inherit;
		}
	}
}
	
div.hero {
	position:relative;
	height:calc(100vh - 44px);
	width:80%;
	margin:0 auto;
	display:flex;
	align-items:center;
}

h1 {
	font-size:5rem;
	color:white;
	text-transform:uppercase;
	letter-spacing:3px;
}

.scrolldown {
	position:absolute;
	bottom:10%;
	left:49%;
	text-align:center;
	color:white;
	font-size:1.6rem;
	a {
		color:white;
	}
	a:hover {
		color:$civicYellow;
	}
	i {
		font-size:4rem;
	}
}

//body styles

.write-wrapper {
	width:100%;
	
}
#write {
	width:80%;
	background-color: $whiteOverlay;
	padding:40px;
	margin:40px auto 0;
	h2 {
		text-transform:uppercase;
		font-size:4rem;
	}
	p {
		font-size:1.8rem;
		font-weight: bold;
		letter-spacing: 1px;
		line-height:1.4;
	}
}

.outline {
	position:absolute;
	width:100%;
	// top:100vh;
	top:50vh;
	z-index:-2;
}

form.mainForm {
	width:80%;
	margin:0 auto;
	padding:40px 0;
}

.govOuterWrapper {
	width:80%;
	margin:0 auto 40px;
	background-color: $whiteOverlay;
	padding:0px;
}

.govWrapper {
	// background:$civicYellow;
	opacity:0.9;
}

.pickLevel {
	width:80%;
	text-align:center;
	margin:0 auto;
	font-size:2rem;
	font-weight: bold;
	text-transform:uppercase;
	letter-spacing:2px;
	padding:6px 3px 3px;
	border-bottom:3px solid $civicLightGreen;
}

div.govlist {
	width:31%;
	float:left;
	margin:20px 1%;
	padding:20px 12px;
	text-align:center;
	border-radius:2px;
	p.govDescription {
		font-size: 1.7rem;
		line-height:2rem;
		display:none;
	}
	p.hideGovDescription {
		display:none;
	}
	.govLevel {
		font-size:2rem;
		font-weight: bold;
		color:$civicBeige;
		text-transform:uppercase;
		letter-spacing:2px;
		padding:10px;
		background: $civicLightGreen;
		border-radius:2px;
	}
	.issueLabel {
		padding:4px;
		line-height: 3rem;
		white-space:nowrap;
		font-size:1.6rem;
	}
	.govLevel:hover {
		color:$civicYellow;
	}
	.issueLabel:hover {
		border:2px solid $civicLightGreen;
		padding:2px;
	}
	input[type=radio] {
		visibility:hidden;
	}
}

div.inputFields {
	padding:40px;
 	input {
		width:40%;
		margin:0 4%;
		padding:5px;
		height:4rem;
		font-size:1.6rem;
		border:3px solid $civicLightGreen;
		border-radius:2px;
	}
}
div.submitButton, .button {
	width:100%;	
	input[type="submit"]{
		background:$civicLightGreen;
		color:$civicYellow;
		border:none;
		display:block;
		margin: 0 auto;
		padding:10px;
		font-size:1.6rem;
		text-transform:uppercase;
		letter-spacing: 2px;
		border-radius:2px;
	}
	input[type="submit"]:hover {
		background:$civicYellow;
		color:$civicLightGreen;
	}
}

.hidden_list {
	display:none;
	margin:15px 0;
	font-size:1.5rem;
	line-height:2rem;
}

input[type="radio"]:checked ~ div.hidden_list {
	display:block;
}

input[type="radio"]:checked + .govLevel {
	border:3px solid $civicLightGreen;
	color:$civicLightGreen;
	background:$civicBeige;
}

input[type="radio"]:checked + .issueLabel {
	border:2px solid $civicLightGreen;
}

input[type="radio"]:checked ~ p.govDescription {
	display:none;
}

.everythingElse {
	padding:60px 0;
	display:none;
}

.result {
	display:none;
	background:white;
	max-width:70%;
	margin:0 auto;
	border-radius:2px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	padding:40px;
	font-family:$serif;
	font-size:1.4rem;
	p.officialGreeting {
		margin-top:35px;
	}
	p.userName {
		margin-top:50px;
	}
}

.textareaAddress {
	width:50%;
}

.personalLetter {
	width:80%;
}

input[placeholder] {
	text-overflow:ellipses;
}

.result_display {
	display:block;
}


.afterLetter {
	// display:none;
	width:80%;
	margin:0 auto;
	padding:20px 0;
	.mailto {
		width:216px;
		text-align:center;
		background:$civicLightGreen;
		color:$civicYellow;
		border:none;
		display:block;
		margin: 0 auto;
		padding:10px;
		font-size:1.6rem;
		text-transform:uppercase;
		letter-spacing: 2px;
		border-radius:2px;
	}
	a {
		
		color:inherit;
	}
}

.printInstructions, .officialEmail {
	margin-top:40px;
	text-align:center;
	a {
		color:inherit;
		text-decoration:underline;
	}
}

footer {
	background:$civicLightGreen;
	padding:10px 20px;
	p {
		color:$civicBeige;
		text-align:center;
		font-size:1.4rem;
		line-height:1.6rem;
		a {
			color:$civicYellow;
		}
	}
}

#printme, #emailme {

}

.about-wrapper {
	background:$headerOverlay;
}

.about {
	width:80%;
	margin:0 auto;
	
	padding:60px 40px;
	color:$civicBeige;
	p {
		font-size:1.6rem;
		a {
			text-decoration: underline;
			color:inherit;
		}
	}
	
}

@media (max-width:768px) {
	div.govlist {
		float:none;
		width:80%;
		margin:20px auto;
	}

	.hamburger {
		display:block;
		margin-right:10px;
	}

	nav {
		justify-content:space-between;
		.menu {
		display:none;
		// position:absolute;
		}
	}

	div.inputFields {
		padding:20px;
 		input {
 			width:46%;
 			margin:0 1%;
 			font-size:1.2rem;
 		}
 	}	

 	.personalLetter {
 		width:100%;
 	}

 	.result {
 		width:90%;
 	}
	
}

@media (max-width:480px) {
	
	.fact-item {
	font-size:3rem;
	}

	.textareaAddress {
		width:100%;
	}

	div.govlist {
		width:100%;
	}
 	div.submitButton input[type="submit"] {
 		font-size:1.2rem;
 	}	

	div.inputFields {
 		input {
 			display:block;
 			width:80%;
 			margin:10px auto;
 		}
 	}	

}

@media print {
	.wrapper {
		background:none;
		img.outline {
			display:none;
		}
	}

	header {
		display:none;
	}

	.write-wrapper {
		display:none;
	}

	.mainForm {
		display:none;
	}

	.result {
		// background:url(../assets/canadaOutlineBeige.svg);
		// background-size:cover;
		display:block;
		max-width:100%;
		margin:0 auto;
		border-radius:none;
		box-shadow: none;
		padding:50px 30px 10px;
		font-family:$serif;
		font-size:1.4rem;
		.personalLetter {
			border:none;
			resize: none;
			width:100%;
		}
		.textareaAddress {
			border:none;
			resize: none;
		}
		.letterQuestions {
			margin-top:-20px;
		}
	}
	.afterLetter {
		display:none;
	}

	.about {
		display:none;
	}

	footer {
		display:none;
	}
}